<html lang="fr">
    <head>{%  load static %}
        <meta charset="utf-8">
        <title>HYPPOCAMPUS COLL&Eacute;GE </title>
       <style type="text/css">
            td#header{
                width: 50%;
                border-style: solid;
                border-width: 2px;
                font-size: 25px;
            }

       </style>
    </head>
    <body>
       
        <form action="facteurs_premiers_result">
            Les facteurs premiers de <input type="number" name="data" required> 
            <input type="submit" value="CALCUL FACTEURS PREMIERS">
        </form>

                

    </body>
</html>