<html lang="fr">
    <head>{%  load static %}
        <meta charset="utf-8">
        <title>HYPPOCAMPUS COLL&Eacute;GE </title>
       <style type="text/css">
            td#header{
                width: 50%;
                border-style: solid;
                border-width: 2px;
                font-size: 25px;
            }

       </style>
    </head>
    <body>
       <form action="fraction_irreductible_result">
            <table>
                    <tr>
                        <td>
                            Num&eacute;rateur
                        </td>
                        <td>
                            <input type="number" name="numerateur" required>
                        </td>
                        <td>
                            <input type="submit" value="REDUIRE LA FRACTION">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            D&eacute;nominateur
                        </td>
                        <td>
                                <input type="number" name="denominateur" required>
                        </td>
                    </tr>
                </table>



       </form>

                

    </body>
</html>