<html lang="fr">
    <head>{%  load static %}
        <meta charset="utf-8">
        <title>HYPPOCAMPUS COLL&Eacute;GE </title>
       <style type="text/css">
            td#header{
                width: 50%;
                border-style: solid;
                border-width: 2px;
                font-size: 25px;
            }

       </style>
    </head>
    <body>
          <h3>Les multiples de <span style="color: red;"> {{data}} </span> compris entre <span style="color: red;">  {{debut}}</span>  et <span style="color: red;"> {{fin}}</span> sont <span>  {{multiples}}</span> </h3>
          <br>
          <a href="multiple">Retour vers le formulaire de calcul de diviseur </a>         

    </body>
</html>