<html lang="fr">
    <head>{%  load static %}
        <meta charset="utf-8">
        <title>HYPPOCAMPUS COLL&Eacute;GE </title>
       <style type="text/css">
            td#header{
                width: 50%;
                border-style: solid;
                border-width: 2px;
                font-size: 25px;
            }

       </style>
    </head>
    <body>
       <h3>Un nombre premier est <span style="color: red;"> un nombre entier qui n&prime;a que deux diviseurs </span> un et lui-m&ecirc;me </h3>
                
        <h4>Pour un nombre entier, rechercher ses diviseurs et dire si oui ou non il est premier ! </h4>
    </body>
</html>