<html lang="fr">
    <head>{%  load static %}
        <meta charset="utf-8">
        <title>HYPPOCAMPUS COLL&Eacute;GE </title>
       <style type="text/css">
            td#header{
                width: 50%;
                border-style: solid;
                border-width: 2px;
                font-size: 25px;
            }

       </style>
    </head>
    <body>
          <h3>La division euclidienne de  <span style="color: red;"> {{data_a}}  </span> par 
             <span style="color: red;"> {{data_b}} </span> est (quotient, reste ) =  <span style="color: red;">{{division}} </span> </h3>
          <br>
          <a href="division_euclidienne">Retour vers le formulaire de calcul de la division euclidienne </a>         

    </body>
</html>