<html lang="fr">
    <head>{%  load static %}
        <meta charset="utf-8">
        <title>HYPPOCAMPUS COLL&Eacute;GE </title>
       <style type="text/css">
            td#header{
                width: 50%;
                border-style: solid;
                border-width: 2px;
                font-size: 25px;
            }

       </style>
    </head>
    <body>
            <div id="puissanceDixForm">
					<form action="" style="background-color: rgb(241, 241, 241);">
						  <br/> <br/>
                          <label > 10 &Agrave; LA  PUISSANCE  <input type="number" name="puissance_exposant" required="true"/>
                          
						 
						
						<input type="submit" value="CALCUL 10 PUISSANCE" title="Calcul du PUISSANCE" />
					</form>   
				</div>

    </body>
</html>