<html lang="fr">
    <head>{%  load static %}
        <meta charset="utf-8">
        <title>HYPPOCAMPUS COLL&Eacute;GE </title>
       <style type="text/css">
            td#header{
                width: 50%;
                border-style: solid;
                border-width: 2px;
                font-size: 25px;
            }

       </style>
    </head>
    <body>
            <div >
					<form action="puissanceHTML" style="background-color: rgb(241, 241, 241);">
						<label > PUISSANCE  <input type="number" name="puissance_exposant" required="true"/>  <br/> <br/>
						<label>LA VALEUR DE X : </label>
						<input type="number" name="puissance_data1" required="true"/> 
						
						<input type="submit" value="CALCUL PUISSANCE" title="Calcul du PUISSANCE" />
					</form>   
				</div>

    </body>
</html>