<html lang="fr">
    <head>{%  load static %}
        <meta charset="utf-8">
        <title>HYPPOCAMPUS COLL&Eacute;GE </title>
       <style type="text/css">
            td#header{
                width: 50%;
                border-style: solid;
                border-width: 2px;
                font-size: 25px;
            }

       </style>
    </head>
    <body>
            <img src="{% static 'college/fonctions/proportionnalite/Pourcentage0.png' %}" height="400">
            <img src="{% static 'college/fonctions/proportionnalite/Pourcentage1.png' %}" height="400">
    </body>
</html>